inc/xml/schemes/xsparrow-scheme-0.0.xml

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:xim="http://ximdex.com/schema/1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<element name="xsparrow-theme">
			<attribute name="version"/>
			<optional><attribute name="project"/></optional>
			<ref name="theme-properties.class"/>
		</element>
	</start>

	<!--Theme properties-->

	<define name="theme-properties.class">
		<element name="theme-properties">
			<attribute name="configurable">
				<choice>
					<value type="string">0</value>
					<value type="string">1</value>
				</choice>
			</attribute>
			<interleave>
				<ref name="theme-shortname.class"/>
				<ref name="theme-title.class"/>
				<ref name="theme-description.class"/>
				<optional>
					<ref name="theme-style.class" />
				</optional>
			</interleave>
		</element>
	</define>

	<define name="theme-shortname.class">
		<element name="theme-shortname">
			<text/>
		</element>
	</define>

	<define name="theme-title.class">
		<element name="theme-title">
			<text/>
		</element>
	</define>

	<define name="theme-description.class">
		<element name="theme-description">
			<text/>
		</element>
	</define>

	<define name="theme-style.class">
		<element name="theme-style">
			<text/>
		</element>
	</define>
</grammar>
